body {
  font-family: Roboto, sans-serif;
  width: 100%;
  margin: auto;
}

.top {
  background-color: #1f2937;
  padding-bottom: 100px;
}

.header,
.container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding-top: 16px;
  padding-bottom: 64px;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

.links ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

.links a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.top .container {
  gap: 48px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
}

.top .text {
  color: #f9faf8;
  margin: 16px 0px;
}

.top button {
  color: #f9faf8;
  font-weight: 700;
  background-color: #3882f6;
  border-radius: 6px;
  border: 0;
  padding: 8px 24px;
}

.top img {
  width: 420px;
  height: auto;
}

.main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.main .container {
  display: flex;
  gap: 32px;
}

.info {
  width: 150px;
}

.info img {
  width: 150px;
  height: 150px;
  border: 2px solid #3882f6;
  border-radius: 12px;
}

.caption {
  font-size: 16px;
  color: #75777b;
  text-align: center;
}
